.post {
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0, 75);
}
.post__topInfo > h3,
.post__topInfo > p {
  margin: 0;
}
.post__options,
.post__option,
.post__top {
  display: flex;
}
.post__option,
.post__top {
  align-items: center;
}

.post__topInfo > h3,
.post__options {
  font-size: medium;
}
.post__image > img {
  width: 100%;
}

.post__top {
  position: relative;
  padding: 15px;
}
.post__bottom {
  margin: 10px 0px;
  padding: 15px 25px;
}
.post__topInfo > p {
  font-size: small;
  color: gray;
}
.post__avatar {
  margin-right: 10px;
}

.post__options {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  justify-content: space-evenly;
  color: gray;
  cursor: pointer;
}
.post__option {
  padding: 5px;
  flex: 1;
  justify-content: center;
}
.post__option > p {
  margin-left: 10px;
}
.post__option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
}
.post__option > p {
  margin-left: 10px;
}
.post__option > .MuiSvgIcon-root {
  color: grey;
}
